{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" crossorigin="anonymous">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>

	<title>Contacts List</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-light fs-1">
		<div class="container-fluid ml-5 mr-5">
		  <a class="navbar-brand" href="#">ContactBook</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
				<a class="nav-link active btn btn-outline-success" aria-current="page" href="{% url 'add-contact'  %}">Add New</a>
			</li>
			</ul>
			<form action="/" method="GET" class="search-bar d-flex" id='search-form'>
				<input type="search-name" class="contact-search rounded form-control me-2" name="search-area" placeholder="Type Name Here...." value={{search_input}}>
			<button onclick="document.getElementById('search-form').submit();" class="btn btn-success">Search</button>
			</form>
		  </div>
		</div>
	  </nav>


	<!-- <header class="header fluid-continer">
			<form action="/" method="GET" class="search-bar" id='search-form'>
				<input style="width: auto; height: auto;color: #000; border-radius: 25px; font-size: 25px;" type="search-name" class="contact-search" name="search-area" placeholder="Type Name Here...." value={{search_input}}>
			<button onclick="document.getElementById('search-form').submit();" style="padding-left: 5px;font-family: sans-serif; cursor: pointer;width: auto; height: auto; background-color: rgb(29, 25, 34); font-size: 25px; color: #fff; border-radius: 25px;">Search</button>
			</form>
			<a style="text-decoration: none;font-family: sans-serif;" href="{% url 'add-contact'  %}"><button style=" width: auto; height: auto; background-color: rgb(29, 25, 34);color: #fff; border-radius: 25px;font-size: 25px; cursor: pointer;">Add New Contact</button></a>
			
		</header> -->
		<div class="container">
		<section class="contacts-library mt-3">
			<ul class="contacts-list">
				{% for contact in contacts reversed %}

				<a href="{% url 'profile' contact.id %}" style="text-decoration: none;">

					<div class="contact-section">
						<li class="list__item img_item">
							<img src="{{ contact.imgs.url | title }}" width="80px" height="80px" class="rounded-circle thumb" style="float: left;">		
							<p class="contact-name mt-4 ml-4" style="float: right; font-weight: bolder; font-size:x-large;">{{ contact.full_name | title }}</p>
						</li>
					</div>
				</a>

				<hr>


				{% empty %}
				<h3 style="color:#fff;padding:20px;">No contacts found..</h3>
				{% endfor %}
			</ul>
		</section>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>